.container{
    background-color: green;
    width: 10%;
}
@media only screen and (max-width: 810px){

    body{
        background-color: yellow;
    }
    .container{
        background-color: chartreuse;
        width: 50% !important;
    }

}

@media only screen and (max-width: 400px){
    body{
        background-color: aqua;
    }
    .container{
        background-color: yellow;
        width: 90% !important;
    }   
}

.container{
    color: red;
    font-size: 20px;
    width: 10%
}